@keyframes spin {
  0% {
    transform: rotate(0deg);-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);-o-transform: rotate(360deg);-webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);-o-transform: rotate(360deg);-webkit-transform: rotate(360deg);
  }
}
.teva-selectbox {
  display: inline-block;
  width: 220px;
}
.teva-selectbox.teva-selectbox-arrows.teva-selectbox-open .teva-selectbox-label {
  border-color: #a3adb0;
}
.teva-selectbox.teva-selectbox-arrows.teva-selectbox-open .teva-selectbox-label:after {
  content: "\e81e" !important;
}
body[dir=rtl] .teva-selectbox.teva-selectbox-arrows .teva-selectbox-label {
  padding-left: 28px;
}
body[dir=ltr] .teva-selectbox.teva-selectbox-arrows .teva-selectbox-label {
  padding-right: 28px;
}
.teva-selectbox.teva-selectbox-arrows .teva-selectbox-label:after {
  font-size: 2em;
  font-family: "fontello";
  content: "\e81f";
  position: absolute;
  line-height: 40px;
  top: 0;
}
body[dir=rtl] .teva-selectbox.teva-selectbox-arrows .teva-selectbox-label:after {
  left: 8px;
}
body[dir=ltr] .teva-selectbox.teva-selectbox-arrows .teva-selectbox-label:after {
  right: 8px;
}
.teva-selectbox-disabled {
  cursor: not-allowed;
}
.teva-selectbox-disabled > a {
  pointer-events: none;
}
.teva-selectbox-label {
  border: 1px solid #dadedf;
  display: block;
  height: 40px;
  line-height: 38px;
  cursor: pointer;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
}
.teva-selectbox-label-text {
  height: 38px;
  overflow: hidden;
}
.teva-selectbox-label:hover,
.teva-selectbox-label:active,
.teva-selectbox-label:focus {
  text-decoration: none;
  border-color: #a3adb0;
}
.teva-selectbox-search {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 220px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.teva-selectbox-search.teva-selectbox-search-inline .teva-selectbox-search-terms {
  border-top: 1px solid #a3adb0;
}
body[dir=rtl] .teva-selectbox-search.teva-selectbox-search-icon .teva-selectbox-search-terms {
  padding-left: 32px;
}
body[dir=ltr] .teva-selectbox-search.teva-selectbox-search-icon .teva-selectbox-search-terms {
  padding-right: 32px;
}
.teva-selectbox-search.teva-selectbox-search-icon .teva-selectbox-search-terms:after {
  font-size: 1em;
  font-family: "fontello";
  content: "\e86a";
  position: absolute;
  top: 8px;
  color: #dadedf;
}
body[dir=rtl] .teva-selectbox-search.teva-selectbox-search-icon .teva-selectbox-search-terms:after {
  left: 8px;
}
body[dir=ltr] .teva-selectbox-search.teva-selectbox-search-icon .teva-selectbox-search-terms:after {
  right: 8px;
}
.teva-selectbox-search.teva-selectbox-search-loading .teva-selectbox-search-terms:after {
  font-size: 1em;
  font-family: "fontello";
  content: "\E833";
  position: absolute;
  top: 8px;
  color: #dadedf;
  -webkit-animation: spin 2s 3 linear;
  -o-animation: spin 2s 3 linear;
  animation: spin 2s 3 linear;
}
body[dir=rtl] .teva-selectbox-search.teva-selectbox-search-loading .teva-selectbox-search-terms:after {
  left: 8px;
}
body[dir=ltr] .teva-selectbox-search.teva-selectbox-search-loading .teva-selectbox-search-terms:after {
  right: 8px;
}
.teva-selectbox-search-terms {
  border: 1px solid #a3adb0;
  border-top: none;
  display: block;
  height: 40px;
  position: relative;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.teva-selectbox-search-terms-input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
}
.teva-selectbox-search-terms + .teva-selectbox-search-results {
  border-top: none;
}
.teva-selectbox-search-results {
  border: 1px solid #a3adb0;
  display: block;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.teva-selectbox-search-results-searching,
.teva-selectbox-search-results-empty,
.teva-selectbox-search-results-minimum {
  padding: 8px;
  line-height: 24px;
  height: 40px;
  display: none;
  cursor: default;
}
.teva-selectbox-search-results-result {
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}
.teva-selectbox-search-results-result-active {
  background-color: #bbbbbb;
}
.teva-selectbox-search-results-result-disabled {
  background-color: #eeeeee;
  pointer-events: none;
}
.teva-selectbox-search-results-result-parent {
  font-weight: bold;
  pointer-events: none;
}
.teva-selectbox-search-results-result:hover {
  background-color: #dddddd;
}
